/* Lesson 2: Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Lesson 2: Typography and Colors */
body {
    font-family: Arial, sans-serif;
    background-color: #080D1C;
    color: #FFFFFF;
}

/* Lesson 3: Flexbox */
.content-wrapper {
    display: flex;
    flex-direction: column;
}

/* Lesson 2: Element Selector */
header {
    background-color: #080D1C;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}

header h1 {
    color: #FFFFFF;
}

/* Lesson 2: Descendant Selector and :hover */
.navbar {
    background-color: #080D1C;
    padding: 20px;
    margin:auto
}

.navbar-nav {
    background-color: #101A36;
    padding: 15px;
    border-radius: 10px;
}

.navbar-nav a {
    color: #EAF2FF;
}

.navbar-nav a:hover {
    color: #3D6FE8;
}

/* Lesson 2: Box Model; Lesson 3: Flexbox */
.d-flex {
    display: flex;
    gap: 0;
    width: 100%;
}

.card {
    background-color: #111C35;
    border: 1px solid #2455A6;
    border-radius: 8px;
    margin: auto;
    width: 33.333%;
}

.card-body {
    padding: 30px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    border-radius: 6px;
}

.card-title,
.card-text {
    color: #FFFFFF;
}

.card-link {
    color: #fdfdfd;
}
button {
    background-color: #3D6FE8;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.text-center {
    text-align: center;
}

/* Lesson 2: Box Model */
.container {
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    background-color: #111C35;
    border: 1px solid #2455A6;
    border-radius: 10px;
}

.des {
    background-color: #111C35;
    border: 1px solid #2455A6;
}

/* Lesson 1: Forms; Lesson 2: CSS and Box Model */
form {
    background-color: #111C35;
    border: 1px solid #2455A6;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    margin: 10px auto;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

/* Lesson 2: Typography and Box Model */
footer {
    background-color: #080D1C;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer p {
    margin: 0;
}

/* Lesson 3: Media Query and Flexbox */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 5px 0;
    }

    .d-flex {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .card-img-top {
        height: 300px;
    }
}